body {
  background-color: #00b38f;
}

h1, h2 {
  color: #ffffff;
}

h1{
  padding-top:150px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 55px;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

h3{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

p, ul {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.app-image {
  width: 85%;
}

.container-fluid {
  padding: 100px 0 100px 0;
}
.container {
  padding: 100px 0 100px 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: 2;
  background-color: rgb(33,40,45);
  opacity: .8;
}

hr.star-light, hr.star-primary  {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 3px;
    text-align: center;
    border-color: #fff;
}

hr.star-primary {
    border-color: #2c3e50;
}

#header {
  width: 100%;
  height: 600px;
  background: url('../images/palm-5-bw.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#about-me {
  color: #ffffff;
}

#skills {
  color: #ffffff;
  background-color: #2c3e50;
}

#projects {
  background: #ffffff;
  color: black;
}

#contact {
  color: white;
  background-color: #2c3e50;
}
