body {
  background-color: #000000;
}

/* ---> Fonts & Font Sizing <---------------------- */

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 56px;
  font-weight: 600;
  color: #ffffff;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 2%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
}

p, ul, a {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

a, a:active, a:visited {
  color: #adadd2;
  transition: all 0.2s ease-in;
}

a:hover {
  text-decoration: none;
}

/* ---> Container Spacing <------------------------ */

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  padding: 10% 0 15% 0;
}

/* ---> Image Sizing <------------------------- */

.bg-img {
  max-width: 100%;
  height: auto;
  display: block;
  background-image: url("../images/palm-5-bw.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 0;
  background-color: rgb(33, 40, 45);
  opacity: .7;
}

.app-image {
  width: 60%;
  transition: width 0.5s ease-in, 0.1s ease-out;
}

.app-hover {
  width: calc(75%);
  color: #8080ff  !important;
}

.img-fluid {
  margin-top: 0;
  padding-top: 0;
}

.header-logo {
  max-width: 30%;
  transition: all 0.3s linear;

}

.grow {
  max-width: 33%;
}

/* ---> Navbar <------------------------------ */

.navbar-brand {
  transition: all 0.3s linear;
  opacity: 0;
}

.navbar-brand img {
    max-width: 45px;
}

.fadeIn {
  opacity: 1;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  transition: all 0.3s linear;
}

.navbar-nav {
  padding-top: 0px;
  padding-left: 30px;
}

.navbar-toggler {
  transition: all 0.3s linear;
}

.nav-item-desktop {
  padding-left: 10px;
}

.desktop-link {
  font-family: 'Roboto', sans-serif;
  color: white;
  transition: all 0.2s ease-in;
}

.desktop-link:hover {
  color: #b3b3ff;
  font-size: calc(110%);
}

.darken-link {
  color: #262626;
}

.darken-link:hover {
  color: #8080ff;
  font-size: calc(110%);
}

.solid {
  background: #d9d9d9;
  opacity: .7;
}

#slide-menu {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0px;
  right: 0px;
  transition: all 0.3s linear;
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  z-index: 3;
}

.slideMenuToggle {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

#slide-content {
  transition: all 0.3s linear;
  z-index: 3;
}

.slideOver {
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
}

.nav-slide {
  margin: 0 200px 0 -200px;
}

/* ---> Button & Other <--------------------------- */

a.btn, .btn {
  border: 1px solid;
  margin: 0 0.5% 0 0.5%;
  border-radius: 0px;
}

.btn-no-fill, .btn-no-fill:active, .btn-no-fill:visited {
  color: #ffffff;
  border-color: #ffffff;
  text-transform: uppercase;
}

.btn-no-fill:hover {
  color: #5F62A4;
  background: #fff;
  border-color: #fff;
}

.btn-fill, .btn-fill:active, .btn-fill:visited {
  color: #fff;
  background: #5F62A4;
  border-color: #5F62A4 !important;
  text-transform: uppercase;
}

.btn-fill:hover {
  color: #5F62A4;
  background: #fff;
  border-color: #fff !important;
}

.btn-text {
  opacity: 0.9;
}

.btn-large {
  font-size: 17px;
  padding: 12px 34px 12px 34px;
}

hr.star-light, hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 1px;
  text-align: center;
}

hr.star-light {
  border-color: #ffffff;
}

hr.star-primary {
  border-color: #999999;
}



/* ---> Page Sections <------------------------------- */

#about {
  color: #8c8c8c;
  background: #ffffff;
}

#about-content {
  opacity: 0;
}

#skills {
  color: #ffffff;
  background-color: #797db9;
}

#skills-content {
  opacity: 0;
}

#projects {
  background: #ffffff;
  color: #8c8c8c;
}

#projects-content {
  opacity: 0;
}

.app-list {
  display: inline-flex;
}

.info-text {
  margin-top: auto;
  margin-bottom: auto;
}

#contact {
  color: #ffffff;
  background-color: #797db9;
}

#contact-content {
  opacity: 0;
}

#contact a {
  color: #dedeed;
}

#contact a:hover{
  text-decoration: underline;
}

/* ---> Skills Bars <------------------------------- */

.bars{
}

.bar {
  background: #fff;
  width: 0;
  margin: .25em 0;
  color: #999999;
  position: relative;
  transition: width 1s;
  clear: both;
}

.bar .label {
  padding: 10px;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
