body {
  background-color: #00b38f;
}

h1 {
  padding-top: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 66px;
  color: #ffffff;
}

h2 {
  font-family: 'Lato', sans-serif;
  padding-bottom: 10%;
  font-size: 30px;
  color: #ffffff;
}

h3 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 42px;
}

p, ul {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.app-image {
  width: 85%;
}

.container-fluid {
  padding: 70px 0 70px 0;
}

.container {
  padding: 100px 0 100px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-img {
  max-width: 100%;
  height: auto;
  display: block;
  background-image: url("../images/palm-5-bw.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 2;
  background-color: rgb(33, 40, 45);
  opacity: .8;
}

hr.star-light, hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 3px;
  text-align: center;
}

hr.star-light {
  border-color: #ffffff;
}

hr.star-primary {
  border-color: #2c3e50;
}

#about-me {
  color: #ffffff;
}

#skills {
  color: #ffffff;
  background-color: #2c3e50;
}

#projects {
  background: #ffffff;
  color: black;
}

#contact {
  color: #ffffff;
  background-color: #2c3e50;
}

@media(max-width:768px) {
  .overlay {
    opacity: 1;
    background: linear-gradient(to bottom right, #29a3a3, #00cc7a);
    height: auto;
    max-width: 100%;
  }
  .container {
    padding: 70px 15px 70px 15px;
  }
  .container-fluid {
    padding: 115px 15px 115px 15px;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
  }
  h3 {
    font-size: 42px;
  }
  p, ul, {
    font-size: 19px;
    font-weight: lighter;
    color: #8c8c8c;
  }
  #about-me {
    background-color: #ffffff;
    color: #8c8c8c;
  }
  #skills, #skills ul {
    color: #ffffff;
    background-color: #2c3e50;
  }
  #projects {
    background: #ffffff;
    color: #8c8c8c;
  }
  #projects a {
    color: #00cc99;
  }
  #contact, #contact p {
    color: white;
    background-color: #2c3e50;
  }
  hr.star-light, hr.star-primary {
    background-image: url("../images/blue-green-gradient.png");
    background-size: contain;
    background-position: left;
    border: none;
    height: 2px;
  }
}
