.mobile-btn {
  position: relative;
  text-decoration: none;
  right: 30px;
  height: 30px;
  width: 30px;
  display: block;
  margin: 0 auto; }
  .mobile-btn span {
    position: absolute;
    height: 3px;
    width: 30px;
    right: 0;
    top: 50%;
    margin-top: -1px;
    background: #ccc;
    border-radius: 2px;
    transition: background 0.3s; }
    .mobile-btn span:before {
      position: absolute;
      content: "";
      height: 3px;
      width: 30px;
      top: -10px;
      display: block;
      background: #ccc;
      border-radius: 2px;
      transition: transform 0.3s, top 0.3s 0.3s; }
    .mobile-btn span:after {
      position: absolute;
      content: "";
      height: 3px;
      width: 30px;
      top: 10px;
      display: block;
      background: #ccc;
      border-radius: 2px;
      transition: transform 0.3s, top 0.3s 0.3s; }
  .mobile-btn.cross span {
    background: transparent; }
    .mobile-btn.cross span:before {
      top: 0;
      transform: rotate(45deg);
      transition: top 0.3s, transform 0.3s 0.3s; }
    .mobile-btn.cross span:after {
      top: 0;
      transform: rotate(-45deg);
      transition: top 0.3s, transform 0.3s 0.3s; }

.text {
  max-width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center; }

.mobile-nav-button {
  width: 25px;
  margin: 15px 0;
  z-index: 9999;
  cursor: pointer;
  width: 25px;
  height: 30px; }

.mobile-menu {
  display: block;
  max-width: 500px;
  width: 100%;
  right: -100%;
  height: 100vh;
  background: #f0d38f;
  position: absolute;
  z-index: 9998;
  transition: 0.6s ease;
  top: 0;
  opacity: 0; }
  .mobile-menu ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0; }
    .mobile-menu ul li {
      list-style: none; }
      .mobile-menu ul li .nav-link {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 48px;
        font-weight: bold;
        overflow: hidden;
        position: relative; }
        .mobile-menu ul li .nav-link:after {
          content: '';
          background: #fff;
          width: 100%;
          height: 100%;
          position: absolute;
          right: -100%;
          top: 0;
          z-index: -1;
          transition: 0.4s ease; }
        .mobile-menu ul li .nav-link:hover {
          color: #eac162; }
          .mobile-menu ul li .nav-link:hover:after {
            right: 0; }
  .mobile-menu img {
    position: absolute;
    width: 150px;
    display: block;
    left: 50%;
    top: 3rem;
    transform: translatex(-50%);
    padding: 0;
    text-align: center; }

.mobile-menu--open {
  right: 0;
  opacity: 1; }
