body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    overflow: hidden;
}