@media only screen and (max-width: 600px) {
    /* Text */
    h1 {
        font-size: 40px !important;
    }
    h2 {
        font-size: 22px !important;
    }
    h3 {
        font-size: 32px !important;
    }
    p {
        font-size: 14px !important;
    }
    /* Spacing */
    .center {
        padding-top: 30px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .padding50 {
        padding: 40px 0;
    }
    .spacer20-top {
        margin-top: 20px;
    }
    .contact-row {
        padding: 0 20px !important;
    }
    .container {
        padding: 40px 40px !important;
    }
    .scrollHack {
        padding-bottom: 0 !important;
    }
    /*
    *
    *
    */
    /* disable parallax on mobile */
    .laptop {
        height: 80vh;
        background: url("/img/mobile/laptop-4.jpg") fixed no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .laptop::after {
        background: none;
    }
    .comp-bg {
        height: 40vh;
        background: url("/img/mobile/COMP.png") repeat;
        background-size: contain;
        background-position: center center;
        background-color: #F5F5F5;
    }
    .comp-bg::after {
        background: none;
    }
    .bottom-bg {
        height: 30vh;
        background: url("/img/mobile/laptop-5.jpg") no-repeat;
        background-size: 150%;
        background-position: right top;
    }
    .bottom-bg::after {
        background: none;
    }
    .parallax-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: none;
        z-index: -1;
    }
    .parallax-wrapper {
        perspective: none;
    }
    body {
        transform-style: none;
    }
    .contact-details {}
}