/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

@import "~react-image-gallery/styles/css/image-gallery.css";
.image-gallery-icon {
    color: #29828A !important;
    filter: drop-shadow(0 2px 2px #29828A) !important;
}

.image-gallery-icon:hover {
    color: #29828A !important;
}

.image-gallery-thumbnail.active {
    border: none !important;
    opacity: 1;
}

.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
    border: none !important;
}

.image-gallery-thumbnail {
    border: none !important;
    opacity: 0.5;
    transition: none !important;
}

.left {
    opacity: 0;
    transform: none !important;
}

.center {
    opacity: 1;
    transform: none !important;
    padding-top: 0px !important;
    left: 0 !important;
    top: 0 !important;
}

.right {
    opacity: 0;
    transform: none !important;
    padding-bottom: 0px !important;
}

@media only screen and (min-width: 600px) {
    .image-gallery-thumbnails {
        padding: 20px 0 !important;
    }
    .image-gallery-thumbnail {
        width: 100px !important;
    }
}

.pad-b-0 {
    padding-bottom: 0px !important;
}

.pad-t-0 {
    padding-top: 0px !important;
}

.h-container {
    padding: 0px 100px;
    padding-bottom: 50px;
}


/* PROJECT LIST PAGE SHORT */

.projects {
    background-color: #F5F5F5;
    padding: 50px 0;
}

.project-middle {
    padding-top: 50px;
}

.project-bottom {
    padding-top: 50px;
}

.project-image {
    width: 100%;
}

.gallery {
    background-color: #F5F5F5;
}

.row-pad-v {
    padding: 20px 0;
}

.project-link {
    color: #29828A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px !important;
}

.pop-out {
    background-color: #fff;
    padding: 50px !important;
}