/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/


/* PROJECT LIST PAGE SHORT */

.projects {
    background-color: #F5F5F5;
    padding: 50px 0;
}

.project-bottom {
    padding-top: 50px;
}

.project-image {
    width: 100%;
}

.gallery {
    background-color: #F5F5F5;
}

.row-pad-v {
    padding: 20px 0;
}

.project-link {
    color: #29828A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px !important;
}

.pop-out {
    background-color: #fff;
    padding: 50px !important;
}